body {                                 /* 全体の背景 */
  font-family: 'Noto Sans JP',"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: gray;
}
img {
  display: block;
}
#grille {
  display: inline-block;
  /* margin-left: 700px; */
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.img-box{
  text-align: center;
  position: relative;
}
.decoration {
  width: 16%;
  margin-left: 100px;
}
.img-box{
  position: relative;
}
.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  font-weight: bold;
  z-index: 5;
  color: white;
}
.types p{
  font-size: 40px;
  font-weight: bold;
  color: aliceblue;
}
.type1 {
  position: absolute;
  width: 100%;
  bottom: 65%;
  box-sizing: border-box;
  margin: auto;
  z-index: 3;
}
.type2 {
  position: absolute;
  width: 100%;
  bottom: 50%;
  box-sizing: border-box;
  z-index: 4;
}
.correct {
  color: gray;
}
.unCorrect {
  color: orange;
}
.vol{
  position: absolute;
  width: 60px;
  bottom: 20px;
  left: 20px;
  background-size: 100% 100%;
  cursor: pointer;
  visibility: visible;
}
.unVol{
  position: absolute;
  width: 65px;
  bottom: 20px;
  left: 20px;
  background-size: 100% 100%;
  cursor: pointer;
  visibility: hidden;
}
.timer{
  position: absolute;
  font-size: 80px;
  bottom: 88%;
  left: 95%;
}

.meat-img{
  position: absolute;
  width: 21%;
  height: auto;
  left: 39%;
  bottom: 55%;
  z-index: 2;
  rotate: 30deg;
}
.result{
  position: absolute;
  background:rgba(0, 0, 0, 0.7);
  border-radius: 10%;
  left: 36.5%;
  bottom: 46%;
}
#resultText{
  font-size: 35px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
}
.text{
  text-align: center;
}
